html{
    //position: absolute;
}
.user {
    font-size: 13px;
    width: 70%;
    border-radius: 3px;
    background-color: #ddd;
    padding: 10px;
    word-break: break-all;
    color: black;
}

.contact {
    margin-left: 20%;
    font-size: 13px;
    border-radius: 3px;
    padding: 10px;
    width: 70%;
    background-color: #08f;
    color: #fff;
    word-break: break-all;
}